<!DOCTYPE html>
<html>
<head>
	<title> PDP Q3 Flask </title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
	<header style="
		height: 20vh;
		width: 100%;
		background: #515f5f;
		color: #fff;
	">
		<center> 
			<h1 style="margin: 0; font-size: 60px; padding-top: 5vh;"> 
				Summarizr
			</h1>
		</center>
	</header>
	<div class="main-container">
		<h3> What is this? </h3>
		<p>
			bla bla description here later...
		</p>

		<form action="/summarize" method="POST">
			<textarea name="userInput"></textarea>
			<br/>		<br/>		<br/>
			<center> 
				<button> Submit </button>
			</center>
		</form>
	</div>
</body>
</html>